<div class="card-body">
    <h4 class="card-title mb-4">Profile</h4>
    <div class="form-group">
        <img src="{{user.avatar}}" class="img-sm rounded-circle border">
    </div>
    <form enctype="multipart/form-data" action="/account/update" method="POST">
        <div class="form-row">
            <div class="col form-group">
                <label>Firstname</label>
                <input type="text" class="form-control" name="firstname" autocomplete="given-name"
                    placeholder="Firstname" value="{{user.firstname}}">
            </div> <!-- form-group end.// -->
            <div class="col form-group">
                <label>Lastname</label>
                <input type="text" class="form-control" name="lastname" autocomplete="family-name"
                    placeholder="Lastname" value="{{user.lastname}}">
            </div> <!-- form-group end.// -->
        </div> <!-- form-row.// -->
        <div class="form-row">
            <div class="col form-group">
                <label>Email</label>
                <input type="email" name="email" class="form-control" autocomplete="email" placeholder="Email"
                    value="{{user.email}}">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div> <!-- form-group end.// -->
            <div class="col form-group">
                <label for="image">Upload image profile</label>
                <input id="image" type="file" name="image" accept="image/*" class="form-control-file">
            </div>
        </div>

        <button class="btn btn-primary btn-block">Send</button>
    </form>
</div> <!-- card-body.// -->