<div class="card-body">
    <h4 class="card-title mb-4">Profile</h4>
    <form>

        <div class="form-group">
            <img src="/images/user.png" class="img-sm rounded-circle border">
        </div>
        <div class="form-row">
            <div class="col form-group">
                <label>Firstname</label>
                <input type="text" class="form-control" name="firstname" autocomplete="given-name">
            </div> <!-- form-group end.// -->
            <div class="col form-group">
                <label>Lastname</label>
                <input type="text" class="form-control" name="lastname" autocomplete="family-name">
            </div> <!-- form-group end.// -->
        </div> <!-- form-row.// -->
        <div class="form-row">
            <div class="col form-group">
                <label>Email</label>
                <input type="email" class="form-control" placeholder="">
                <small class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div> <!-- form-group end.// -->
        </div>

        <button class="btn btn-primary btn-block">Send</button>
    </form>
</div> <!-- card-body.// -->