<div class="card col-lg-7 col mx-auto">
  <article class="card-body">
    <header class="mb-4">
      <h4 class="card-title">Sign up</h4>
    </header>
    <form enctype='multipart/form-data' action='/signup' method='POST'>
      </formaction>
      <div class="form-row">
        <div class="col form-group">
          <label>Username</label>
          <input type="text" class="form-control" name="username" placeholder="@Username" autocomplete="username">
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label>First name</label>
          <input type="text" class="form-control" name="firstname" placeholder="@firstname" autocomplete="given-name">
        </div> <!-- form-group end.// -->
        <div class="col form-group">
          <label>Last name</label>
          <input type="text" class="form-control" name="lastname" placeholder="@lastname" autocomplete="family-name">
        </div> <!-- form-group end.// -->
      </div> <!-- form-row end.// -->
      <div class="form-group">
        <label>Email</label>
        <input type="email" class="form-control" name="email" placeholder="@email" autocomplete="email">
      </div> <!-- form-group end.// -->

      <div class="form-row">
        <div class="form-group col-md-6">
          <label>Create password</label>
          <input class="form-control" type="password" name="password1" placeholder="@new" autocomplete="new-password">
        </div> <!-- form-group end.// -->
        <div class="form-group col-md-6">
          <label>Repeat password</label>
          <input class="form-control" type="password" name="password2" placeholder="@repeat"  autocomplete="new-password">
        </div> <!-- form-group end.// -->
      </div>
      <div class="form-group">
        <label>Upload image</label>
        <input type="file" name="image" class="form-control" placeholder="">
      </div> <!-- form-group end.// -->
      <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary btn-block"> Register </button>
      </div> <!-- form-group// -->

    </form>
    <hr>
    <p class="text-center">Have an account? <a href="/login">Log In</a></p>
  </article> <!-- card-body end .// -->
</div>