<form enctype='multipart/form-data' action='/signup' method='POST'>
  <input type="text" placeholder="Firstname" name="firstname"/>
  <input type="text" placeholder="Lastname" name="lastname"/>
  <input type="text" placeholder="Username" name="username"/>
  <input type="password" placeholder="Password" name="password"/>
  <input type="file" name='image'/>
  <button type="submit">Submit</button>
</form>